body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b405e;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
    background: #c3bfbf;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #e2e2e2;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

li:hover {
    background: #d1d1d1;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
}
button {
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    background-color: #63676b;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #9fa4aa;
}
